[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/SkaLe3/glfw
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/SkaLe3/imgui
	branch = docking
[submodule "ThirdParty/yaml-cpp"]
	path = VeiM/ThirdParty/yaml-cpp
	url = https://github.com/SkaLe3/yaml-cpp
[submodule "ThirdParty/glm"]
	path = VeiM/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "ThirdParty/spdlog"]
	path = VeiM/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
