# Binaries
Engine/Intermediate/
Engine/Build/ProjectFiles/
Engine/Binaries/
!Engine/Binaries/Win64/Shipping/VeiMManagerTool-Win64-Shipping.exe

# Logs
**.log

# Visual Studio files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
*.user