[submodule "VeiM/vendor/GLFW"]
	path = VeiM/vendor/GLFW
	url = https://github.com/SkaLe3/glfw
[submodule "VeiM/vendor/imgui"]
	path = VeiM/vendor/imgui
	url = https://github.com/SkaLe3/imgui
	branch = docking
[submodule ".\\VeiM\\vendor\\yaml-cpp"]
	path = .\\VeiM\\vendor\\yaml-cpp
	url = https://github.com/SkaLe3/yaml-cpp
[submodule ".\\VeiM\\vendor\\glm"]
	path = .\\VeiM\\vendor\\glm
	url = https://github.com/g-truc/glm
