[submodule "VeiM/vendor/GLFW"]
	path = VeiM/ThirdParty/GLFW
	url = https://github.com/SkaLe3/glfw
[submodule "VeiM/ThirdParty/imgui"]
	path = VeiM/ThirdParty/imgui
	url = https://github.com/SkaLe3/imgui
	branch = docking
[submodule "/VeiM/ThirdParty/yaml-cpp"]
	path = VeiM/ThirdParty/yaml-cpp
	url = https://github.com/SkaLe3/yaml-cpp
[submodule "VeiM/ThirdParty/glm"]
	path = VeiM/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "VeiM/ThirdParty/spdlog"]
	path = VeiM/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
