# Binaries
Binaries/
Intermediate/
Build/ProjectFiles/
!Binaries/Engine/**/VeiMManagerTool/

# Logs
**.log

# Visual Studio files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
*.user